<!DOCTYPE html>
<html lang="fr">
<head>
    <title>PML GUI - Graph Generated</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/layout.css">
    <!-- <script src="static/jquery.js"></script>-->
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src="static/jquery-linedtextarea.js"></script>

</head>
<body id="index" class="home">
<div id="links">
<ul>
<li><a href="/">Home</a></li>
</ul>
</div>
<div id="content">
    <!-- ************  CODING ZONE  ************ -->
    <div id="code">
        <form method="post" action="/graph">
            <div id="title-code" class="head-section">
            </div>

<!--          <fieldset>
            <legend> Graphviz Engine </legend>
            <label> <input type=radio name=clicked value="resource" checked=checked>Resource Flow </label>
            <label> <input type=radio name=clicked value="analysis"> Analysis Colored </label>
            <label> <input type=radio name=clicked value="agents"> Agent Colored </label>
        </fieldset> 

            <center> <input type="submit" value="Create Graph"></button></center>  -->  
        <form action="/graph" method="POST">
            <div class="about-div2  ">
            <textarea name="text" class="lined" onChange="postChange(this.id, 'input1');" rows="15" cols="85"  required="required">{{output}}</textarea>
            <center> <input type="submit" value="Create Analysis Colored Graph"></button></center>
        </form>
<p></p>
<form action="/resource" method ='POST'>
        <textarea name='input1' id='input' onChange="postChange(this.id, 'input2');" style='display:none'required="required">{{output}}</textarea>
        <center><input type='submit' value="Create Resource Flow Graph"></button></center>
        </form>  
<p></p>
<form action="/agents" method ='POST'>
        <textarea name='input2' id='input2' style='display:none'required="required">{{output}}</textarea>
        <center><input type='submit' value="Create Agent Colored Graph"></button></center>
        </form>  

    <script>
        $('#content').keyup(function() {
        $('#input').val( $('#content').val() );
        });
    </script>

    </div>
</div>

    <!-- File Upload Section-->

    <center>
    <div id="title-code" class="head-section">
            <form action="/upload" method="POST" enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
            </form>
    </center>
    
    <!-- ************ Graph************ -->
    
    <div id="result">
        <div id="title-result" class="head-section">
            Graph Output
        </div>
        <embed id = "svg-file" src= {{imgpath}} width="90%" height="90%" type='image/svg+xml'>
    </div>
    
    <!-- ************ COMPILATION RESULTS ZONE ************ -->
    
    <div id="compile">
        <div id="title-compile" class="head-section">
            Compilation / Output
        </div>
        <textarea id="text-compile" rows="5" cols="4" readonly>{{ result }}</textarea>
    </div>
</div>


<script>
$(function() {
    $(".lined").linedtextarea(
        {selectedLine: 1}
    );
});
</script>

<script src="{{ url_for('static', filename='svg-pan-zoom.min.js') }}"></script>
    <script>
      // Don't use window.onLoad like this in production, because it can only listen to one function.
      window.onload = function() {
        svgPanZoom('#svg-file', {
          zoomEnabled: true,
          controlIconsEnabled: true
        });
      };
    </script>
    
 <script type='text/javascript'>

 $(document).ready(function() { 
   $('input[name=clicked]').change(function(){
        $('form').submit();
   });
  });

</script></script>
</body>
</html>
