<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

	<style>
p {
    white-space: pre-wrap;
}
</style>
 
 
</head>
 
<body>
	 <div class="jumbotron">
            <h1>PML Code Output</h1>
            
			<form action="/" method= "POST">
            <p><p>{{output}}</p></p>   
         <input type=submit value=Edit>

    </form>
           			
        </div>

 
        <footer class="footer">
            <p>&copy; Luminous 2016</p>
        </footer>
 
    </div>
</body>
 
</html>
